<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pers.xds.wtuapp.web.database.mapper.CommodityMapper">


    <select id="selectSimpleInfo" resultType="pers.xds.wtuapp.web.database.bean.Commodity">
        SELECT `count`, `status`, version, owner_id, price, `name`, trade_location, preview_image
        FROM commodity
        WHERE commodity_id = #{id}
    </select>

    <update id="incrementCommodityCount">
        UPDATE commodity SET count = count + #{inc} WHERE commodity_id = #{cid}
    </update>

    <select id="selectCommodityByUid" resultType="pers.xds.wtuapp.web.database.bean.Commodity">
        SELECT
            commodity_id,
            owner_id,
            name,
            description,
            create_time,
            price,
            preview_image,
            images,
            trade_location,
            count,
            status
        FROM commodity
        WHERE owner_id = #{uid}
    </select>

    <update id="updateCommodity">
        UPDATE commodity
        <set>
            <if test="commodity.name != null">name=#{commodity.name}</if>
            <if test="commodity.price != null">price=#{commodity.price}</if>
            <if test="commodity.description != null">description=#{commodity.description}</if>
            <if test="commodity.tradeLocation != null">tradeLocation=#{commodity.tradeLocation}</if>
            <if test="commodity.count != null">count=#{commodity.count}</if>
        </set>
        WHERE commodity_id = #{cid} AND owner_id = #{uid}
    </update>

    <select id="selectByTimeDesc" resultType="pers.xds.wtuapp.web.database.bean.Commodity">
        SELECT commodity_id, owner_id, `name`, price, preview_image
        FROM commodity
        <if test="mid != null"> WHERE commodity_id &lt;= #{mid} </if>
        ORDER BY commodity_id DESC
        LIMIT #{s}
    </select>

</mapper>
