<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pers.xds.wtuapp.web.database.mapper.CommunityMessageMapper">

    <cache type="org.mybatis.caches.redis.RedisCache" />

    <sql id="selectFullContent">
        cm.id,cm.pid,cm.author,cm.title,cm.content,cm.create_time,cm.`like`,cm.dislike,cm.reply_count,cm.reply_to
    </sql>

    <sql id="selectContentSimply">
        cm.id,cm.pid,cm.author,cm.title,content_preview as content,cm.create_time,cm.`like`,cm.dislike,cm.reply_count,cm.reply_to
    </sql>

    <delete id="deleteCommunityMessageByPid">
        DELETE FROM community_message WHERE pid = #{pid}
    </delete>

    <select id="selectMessageByMaxId" resultType="pers.xds.wtuapp.web.database.view.CommunityMessagePost">
        SELECT u.nickname, <include refid="selectContentSimply"/>
        FROM community_message cm
        LEFT JOIN user u ON cm.author = u.user_id
        WHERE <if test="maxId != null">id &lt;= #{maxId} AND</if> pid = 0
        ORDER BY id DESC
        LIMIT #{size}
    </select>

    <select id="selectMessageByMinId" resultType="pers.xds.wtuapp.web.database.view.CommunityMessagePost">
        SELECT u.nickname, <include refid="selectContentSimply"/>
        FROM community_message cm
        LEFT JOIN user u ON cm.author = u.user_id
        WHERE id &gt; #{minId} AND pid = 0
        ORDER BY id
        LIMIT #{size}
    </select>

    <select id="selectMessageByPid" resultType="pers.xds.wtuapp.web.database.view.CommunityMessagePost">
        SELECT u.nickname, <include refid="selectFullContent"/>
        FROM community_message cm
        LEFT JOIN user u ON cm.author = u.user_id
        WHERE pid = #{pid}
    </select>

    <select id="selectMessageReplyPreview" resultType="pers.xds.wtuapp.web.database.view.CommunityMessagePost" useCache="false">
        SELECT u.nickname, <include refid="selectContentSimply"/>
        FROM community_message cm
        LEFT JOIN user u ON cm.author = u.user_id
        WHERE pid IN
        <foreach collection="pids" item="pid" open="(" close=")" separator=",">#{pid}</foreach>
        AND (
            SELECT COUNT(*)
            FROM  community_message tc
            WHERE tc.pid = cm.pid AND tc.id > cm.id
        ) &lt; #{size}
    </select>

    <update id="modifyFeedbackAbsolutely">
        UPDATE community_message SET `like` = `like` + ${up}, dislike = dislike + ${down} WHERE id = #{id}
    </update>

    <select id="selectSimplyById" resultType="pers.xds.wtuapp.web.database.bean.CommunityMessage">
        SELECT title,author,pid FROM community_message WHERE id = #{id}
    </select>

    <select id="selectMessageById" resultType="pers.xds.wtuapp.web.database.view.CommunityMessagePost">
        SELECT u.nickname, <include refid="selectFullContent"/>
        FROM community_message cm
        LEFT JOIN user u ON cm.author = u.user_id
        WHERE id = #{id}
    </select>

</mapper>
