<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pers.xds.wtuapp.web.database.mapper.CommunityTipMapper">

    <select id="selectReplyCount" resultType="INTEGER">
        SELECT count FROM community_tip WHERE message_id = #{mid}
    </select>

    <insert id="insertOrUpdate">
        INSERT INTO community_tip(uid,message_id,last_reply_uid,message_title,type,last_reply_content)
        VALUE (#{c.uid},#{c.messageId},#{c.lastReplyUid},#{c.messageTitle},#{c.type},#{c.lastReplyContent})
        ON DUPLICATE KEY UPDATE
        count = count + 1, last_reply_uid = #{c.lastReplyUid}, last_reply_time = CURRENT_TIMESTAMP(), last_reply_content = #{c.lastReplyContent}
    </insert>

    <select id="selectTips" resultType="pers.xds.wtuapp.web.database.view.CommunityTipQueryType">
        SELECT uid,message_id,last_reply_uid,count,last_reply_time,u.nickname,message_title,last_reply_content,type
        FROM community_tip ct
        LEFT JOIN user u ON u.user_id = ct.last_reply_uid
        WHERE uid = #{uid} AND count &gt; 0
    </select>

    <select id="clearTip">
        UPDATE community_tip SET count = 0 WHERE uid = #{uid}
    </select>
</mapper>
