<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pers.xds.wtuapp.web.database.mapper.FinishedTradeMapper">

    <resultMap id="BaseResultMap" type="pers.xds.wtuapp.web.database.bean.FinishedTrade">
            <id property="orderId" column="order_id" jdbcType="INTEGER"/>
            <result property="customerId" column="customer_id" jdbcType="INTEGER"/>
            <result property="commodityId" column="commodity_id" jdbcType="INTEGER"/>
            <result property="fail" column="fail" jdbcType="TINYINT"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <resultMap id="Order" type="pers.xds.wtuapp.web.database.bean.TradeMapping">
        <result property="orderId" column="order_id" jdbcType="INTEGER"/>
        <result property="ownerId" column="owner_id" jdbcType="INTEGER"/>
        <result property="commodityId" column="commodity_id" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="price" column="price" jdbcType="DECIMAL"/>
        <result property="previewImage" column="preview_image" jdbcType="VARCHAR"/>
        <result property="ownerId" column="owner_id" jdbcType="INTEGER"/>
        <result property="customerId" column="customer_id" jdbcType="INTEGER"/>
        <result property="fail" column="fail" jdbcType="BOOLEAN"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Order_Column_List">
        commodity.commodity_id,
        commodity.owner_id,
        commodity.name,
        commodity.price,
        commodity.preview_image,
        finished_trade.customer_id,
        finished_trade.order_id,
        finished_trade.fail,
        finished_trade.remark,
        finished_trade.create_time
    </sql>

    <sql id="Simple_Order_Column_List">
        finished_trade.order_id,
        commodity.name,
        commodity.price,
        commodity.preview_image,
        finished_trade.fail,
        finished_trade.remark,
        finished_trade.create_time
    </sql>

    <select id="getSoldRecord" resultType="pers.xds.wtuapp.web.database.bean.FinishedTrade">
        SELECT * FROM finished_trade
        WHERE owner_id = #{userId}
        ORDER BY order_id DESC
    </select>

    <select id="getSoldOrder" resultMap="Order">
        SELECT <include refid="Order_Column_List"/>
        FROM finished_trade, commodity
        WHERE finished_trade.owner_id = #{userId} AND finished_trade.commodity_id = commodity.commodity_id
        ORDER BY commodity.commodity_id DESC
    </select>

    <select id="getSoldOrderSimply" resultMap="Order">
        SELECT <include refid="Simple_Order_Column_List"/>
        FROM finished_trade, commodity
        WHERE finished_trade.owner_id = #{userId} AND finished_trade.commodity_id = commodity.commodity_id
        ORDER BY commodity.commodity_id DESC
    </select>

</mapper>
