<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pers.xds.wtuapp.web.database.mapper.OrderMapper">

    <cache eviction="FIFO" flushInterval="600000" size="512" readOnly="false" type="pers.xds.wtuapp.web.database.common.RedisCache"/>

    <sql id="status_trading">
        '${@pers.xds.wtuapp.web.database.bean.Order@STATUS_TRADING}'
    </sql>

    <sql id="status_done">
        '${@pers.xds.wtuapp.web.database.bean.Order@STATUS_DONE}'
    </sql>

    <sql id="type_sell">
        '${@pers.xds.wtuapp.web.database.bean.UserTrade@TYPE_SELL}'
    </sql>

    <!--  ut为user_trade表，  -->
    <sql id="orderPreviewBaseSelect">
        SELECT ut.order_id,ut.trade_name,ut.trade_uid,o.order_id,c.name,o.create_time,c.preview_image,ut.type,c.price,o.count,o.status
        FROM user_trade ut
        LEFT JOIN `order` o USING(order_id)
        LEFT JOIN `commodity` c USING(commodity_id)
    </sql>

    <resultMap id="orderPreview" type="pers.xds.wtuapp.web.database.view.OrderPreview">
        <result javaType="Integer" column="trade_uid" property="tradeUid"/>
        <result javaType="String" column="trade_name" property="tradeName"/>
        <result javaType="Integer" column="order_id" property="orderId"/>
        <result javaType="String" column="name" property="name"/>
        <result javaType="java.sql.Timestamp" column="create_time" property="createTime"/>
        <result javaType="String" column="preview_image" property="previewImage"/>
        <result javaType="Integer" column="type" property="type"/>
        <result javaType="Double" column="price" property="price"/>
        <result javaType="Integer" column="count" property="count"/>
        <result javaType="Integer" column="status" property="status"/>
    </resultMap>

    <sql id="orderDetailBaseSelect">
        SELECT o.commodity_id,c.name,o.count,c.price,c.trade_location,o.status,ut.type,o.remark,ut.trade_name,
               ut.trade_uid,o.create_time,o.finished_time,o.buyer_remark,o.seller_remark
        FROM user_trade ut
        LEFT JOIN `order` o USING(order_id)
        LEFT JOIN commodity c USING(commodity_id)
    </sql>

    <resultMap id="orderDetail" type="pers.xds.wtuapp.web.database.view.OrderDetail">
        <result javaType="Integer" column="commodity_id" property="commodityId"/>
        <result javaType="String" column="name" property="commodityName"/>
        <result javaType="Integer" column="count" property="count"/>
        <result javaType="Double" column="price" property="price"/>
        <result javaType="String" column="trade_location" property="tradeLocation"/>
        <result javaType="Integer" column="status" property="status"/>
        <result javaType="Integer" column="type" property="type"/>
        <result javaType="String" column="remark" property="remark"/>
        <result javaType="String" column="trade_name" property="tradeName"/>
        <result javaType="Integer" column="trade_uid" property="tradeUid"/>
        <result javaType="java.sql.Timestamp" column="create_time" property="createTime"/>
        <result javaType="java.sql.Timestamp" column="finished_time" property="finishedTime"/>
        <result javaType="String" column="buyer_remark" property="buyerRemark"/>
        <result javaType="String" column="seller_remark" property="sellerRemark"/>
    </resultMap>

    <insert id="insert" useGeneratedKeys="true" keyProperty="orderId">
        INSERT INTO `order`(commodity_id,buyer_id,seller_id,remark,count)
        VALUE(#{o.commodityId},#{o.buyerId},#{o.sellerId},#{o.remark},#{o.count})
    </insert>


    <select id="selectOrders" resultMap="orderPreview" useCache="false">
        <include refid="orderPreviewBaseSelect"/>
        WHERE ut.user_id = #{uid}
        <if test="status != null">
            AND o.status = #{status}
        </if>
    </select>

    <select id="selectActiveOrderByType" resultMap="orderPreview" useCache="false">
        <include refid="orderPreviewBaseSelect"/>
        WHERE ut.user_id = #{uid}
        AND type = #{type}
        AND o.finished_time IS NULL
    </select>

    <select id="selectAllOrder" resultMap="orderPreview" useCache="false">
        <include refid="orderPreviewBaseSelect"/>
        WHERE ut.user_id = #{uid}
        ORDER BY o.create_time DESC
    </select>

    <select id="selectAllSoldOrder" resultMap="orderPreview" useCache="false">
        <include refid="orderPreviewBaseSelect"/>
        WHERE ut.user_id = #{uid}
        AND ut.type = <include refid="type_sell"/>
    </select>

    <update id="buyerUpdateTradeStatus">
        UPDATE `order` SET status = #{s}
        WHERE order_id = #{oid} AND buyer_id = #{uid} AND status = #{ps}
    </update>

    <update id="sellerUpdateTradeStatus">
        UPDATE `order` SET status = #{s}
        WHERE order_id = #{oid} AND seller_id = #{uid} AND status = #{ps}
    </update>

    <update id="updateTradeStatus">
        UPDATE `order` SET status = #{s}
        WHERE order_id = #{oid} AND status = #{ps}
        AND <if test="isSeller">seller_id</if><if test="!isSeller">buyer_id</if> = #{uid}
    </update>

    <select id="selectByIdSimply" resultType="pers.xds.wtuapp.web.database.bean.Order">
        SELECT buyer_id,seller_id,count,commodity_id FROM `order` WHERE order_id = #{oid}
    </select>

    <select id="selectOrderDetailById" resultMap="orderDetail">
        <include refid="orderDetailBaseSelect"/>
        WHERE ut.user_id = #{uid} AND ut.order_id = #{oid}
    </select>

    <update id="updateFinishedTime">
        UPDATE `order` set finished_time = CURRENT_TIMESTAMP() WHERE order_id = #{oid}
    </update>

    <update id="updateBuyerRemark">
        UPDATE `order` SET buyer_remark = #{r} WHERE order_id = #{oid} AND buyer_id = #{uid}
    </update>

    <update id="updateSellerRemark">
        UPDATE `order` SET seller_remark = #{r} WHERE order_id = #{oid} AND seller_id = #{uid}
    </update>

</mapper>
