<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pers.xds.wtuapp.web.database.mapper.TradeStatMapper">

    <resultMap id="BaseResultMap" type="pers.xds.wtuapp.web.database.bean.TradeStat">
            <id property="userId" column="user_id" jdbcType="INTEGER"/>
            <result property="income" column="income" jdbcType="DECIMAL"/>
            <result property="expenditure" column="expenditure" jdbcType="DECIMAL"/>
            <result property="sumOrder" column="sum_order" jdbcType="INTEGER"/>
            <result property="successOrder" column="success_order" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        user_id,income,expenditure,
        sum_order,success_order
    </sql>

    <insert id="insert">
        INSERT INTO trade_stat(user_id,receive_count,delivery_count) VALUE(#{uid},#{rc},#{dc})
    </insert>

    <insert id="insertWithSellingCountOnly">
        INSERT INTO trade_stat(user_id,selling_count) VALUE(#{uid},#{sc})
    </insert>

    <select id="selectUserTradeState" resultType="pers.xds.wtuapp.web.database.bean.TradeStat">
        SELECT receive_count, delivery_count FROM trade_stat WHERE user_id = #{uid}
    </select>

    <update id="modifyReceiveCount">
        UPDATE trade_stat SET receive_count = receive_count + #{inc} WHERE user_id = #{uid}
    </update>

    <update id="modifyDeliveryCount">
        UPDATE trade_stat SET delivery_count = delivery_count + #{inc} WHERE user_id = #{uid}
    </update>

</mapper>
