<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pers.xds.wtuapp.web.database.mapper.UserTradeMapper">


    <sql id="type_buy">
        '${@pers.xds.wtuapp.web.database.bean.UserTrade@TYPE_BUY}'
    </sql>


    <insert id="addUserTrade">
        INSERT INTO user_trade(user_id, order_id, type, trade_uid, trade_name)
        VALUE (#{buyer},#{order_id},0,#{seller},#{sname}),(#{seller},#{order_id},1,#{buyer},#{bname})
    </insert>


</mapper>
