<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pers.xds.wtuapp.web.database.mapper.WtuUserInfoMapper">

    <resultMap id="BaseResultMap" type="pers.xds.wtuapp.web.database.bean.WtuUserInfo">
            <id property="wtuUsername" column="wtu_username" jdbcType="VARCHAR"/>
            <result property="userId" column="user_id" jdbcType="VARCHAR"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="bedroom" column="bedroom" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        wtu_username,user_id,name,
        bedroom
    </sql>
</mapper>
