<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pers.xds.wtuapp.im.database.UserMessageMapper">


    <insert id="insertSelfAndTargetMessage">
        INSERT INTO message
        VALUES(#{msg.uid}, #{msg.to}, #{receiveId}, #{msg.content}, 0, #{msg.createTime}),
              (#{msg.to}, #{msg.uid}, #{sendId}, #{msg.content}, 1, #{msg.createTime})
    </insert>

    <insert id="insert" useGeneratedKeys="true" keyProperty="msgId" keyColumn="msg_id">
        INSERT INTO message(uid,`to`,content,type,create_time) VALUE (#{msg.uid},#{msg.to},#{msg.content},#{msg.type},#{msg.createTime})
    </insert>

    <insert id="insertWithMsgId">
        INSERT INTO message(uid,`to`,msg_id,content,type,create_time) VALUE (#{uid},#{to},#{msgId},#{msg.content},#{msg.type},#{msg.createTime})
    </insert>

</mapper>
